//sass --watch --style=compressed --no-source-map scss/app.scss css/app.css
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400;500;600;700&family=Montserrat:wght@300;400;600;700&display=swap');
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

//font-family: 'IBM Plex Serif', serif;
//font-family: 'Montserrat', sans-serif;


//bootstrap_customize

$navbar-nav-link-padding-x : 1.5rem;
$success : rgba(26, 137, 23, 1);
$font-family-sans-serif : 'Montserrat', sans-serif;
$nav-link-font-size : 0.8rem;
$nav-link-font-weight : 600;




@import "../node_modules/bootstrap/scss/bootstrap.scss";


