//sass --watch --style=compressed --no-source-map scss/app.scss css/app.css
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400;500;600;700&family=Montserrat:wght@300;400;600;700&display=swap');
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

//font-family: 'IBM Plex Serif', serif;
//font-family: 'Montserrat', sans-serif;


//bootstrap_customize

$navbar-nav-link-padding-x : 1.5rem;
$success : rgba(26, 137, 23);
$font-family-sans-serif : 'Montserrat', sans-serif;
$nav-link-font-size : 0.6rem;
$nav-link-font-weight : 600;
$input-font-size : 0.7rem;
$font-size-base : 0.7rem;
$light : #f8f9fa;





@import "../node_modules/bootstrap/scss/bootstrap.scss";

// CSS Customize
.tag-logo{
    height: 30px;
    width: 30px;
    line-height: normal;
    transform: rotate(85deg);
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: #000000;
}
a:hover{
    text-decoration: none;
    color: #000000;
}
.user-seem{
    margin-left: -8px;
}
.writer-info{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.toggle_Custom{
    margin-right: 2rem;
    width: 42px;
}